<!DOCTYPE html>
<html lang="en">

<head>
    <title> {% block title %} {% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="static/css/base.css" />
    {% block custom_css %} {% endblock %}
</head>

<body>

    <nav class="navbar navbar-dark fixed-top navbar-expand-sm">
       
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="/"><strong>E-Voting</strong></a>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav ml-auto">
                    <li><a class="nav-link" href="#"> Live&nbsp;Results</a></li>
                    <li><a class="nav-link" href="#"> Admin</a></li>
                    <li><a class="nav-link" href="#"> Candidate</a></li>
                </ul>
            </div>
        </div>
    </nav>
    
    {% block content %} {% endblock %}
    
</body>    

</html>