{% extends "base.html" %}
{% block title %}Cast Vote{% endblock %}

{% block custom_css %}
  <link rel="stylesheet" href="static/css/cast.css">
  <script src="static/script/cast.js"></script>
  <!---fonts-->
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}

   <div class="container">
     <div class="row">


      {% for i in range(candidateList|length) %}
       <div class="col-sm-6 col-md-4 text-center">
            <div class="candidate-div" id="candidate-div-{{i}}">
                <img class="img" src="static/images/party_logo/independent.jpg" class="logo"></img>
                <p class="name">{{candidateList[i]['name']}}</p>
                <p class="party"><b>{{candidateList[i]['party']}}</b></p>
                <p class="candidate-id">{{candidateList[i]['candidate_id']}}</p>
                <a href="javascript:showModal({{i}});" class="btn btn-cast">Cast Vote</a>
            </div>
       </div>
       {% endfor %}  

       <!-- Modal -->
       <div class="modal fade" id="modal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            
            <div class="modal-body text-center">
                
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <img class="modal-img" src="static/images/party_logo/independent.jpg">
               <p id="modal-name"></p>
               <p id="modal-party"></p>
			   <p>Candidate ID: <span id="modal-candidate-id"></span></p>
			   <a href="javascript:showConfirmModal();" class="btn btn-cast">Cast Vote</a>
            </div>
           
        </div>
        </div>
	</div>
	
	<div class="modal fade" id="confirm-modal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            
            <div class="modal-body text-center">
                
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <img class="confirm-img" src="static/images/party_logo/independent.jpg">
               <p id="confirm-name"></p>
               <p id="confirm-party"></p>
			   <p>Candidate ID: <span id="confirm-candidate-id"></span></p>
			   <a href="javascript:castVote();" class="btn btn-cast">Cast Vote</a>
			   <a href="javascript:cancelVote();" class="btn btn-cancel">Cancel</a>
            </div>
           
        </div>
        </div>
    </div>
       
     </div>
   </div>

{% endblock %}