{% extends "base.html" %}
{% block title %}Cast Vote{% endblock %}

{% block custom_css %}
  <link rel="stylesheet" href="static/css/cast.css">
{% endblock %}

{% block content %}

   <div class="container">
     <div class="row">


      {% for i in range(candidateList|length) %}
       <div class="col-sm-6 col-md-4 text-center">
            <div class="candidate-div">
                <img src="static/images/party_logo/independent.jpg" class="logo"></img>
                <p class="name">{{candidateList[i]['name']}}</p>
                <p class="party"><b>{{candidateList[i]['party']}}</b></p>
                <a href="#" class="btn">Cast Vote</a>
            </div>
       </div>
       {% endfor %}  

       
     </div>
   </div>

{% endblock %}