{% extends "base.html" %}
{% block title %}Candidate List{% endblock %}

{% block custom_css %}
   <link rel="stylesheet" href="static/css/cdl.css">

    <!---fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">

{% endblock %}

{% block content %}

    <div class="container">

            <div class="row">

                 <div class="col-10 mx-auto col-sm-10  tab">

                    <h1>Candidate List</h1><br>

                    <table class="table table-hover">

                            <thead class="thread-dec">

                                <tr>
                                    <th scope="col">Sr.No.</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Political Party</th>
                                </tr>

                            </thead>

                            <tbody >
                                
                                {% for i in range(candidateList|length) %}
                                
                                    <tr class="down-row" data-toggle="modal" data-target="#modal{{i}}">
                                        <td>{{ i+1 }}</td>
                                        <td>{{ candidateList[i]['name'] }}</td>
                                        <td>{{ candidateList[i]['party'] }}</td>
                                    </tr>

                                         
                                        
                                        <!-- Modal -->
                                        <div class="modal fade" id="modal{{i}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                            <div class="modal-content">
                                                
                                                <div class="modal-body text-center">
                                                    
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>

                                                   <p>{{candidateList[i]['name']}}</p>
                                                   <p>{{candidateList[i]['party']}}</p>
                                                   <p>Candidate ID: {{candidateList[i]['candidate_id']}}</p>
                                                </div>
                                               
                                            </div>
                                            </div>
                                        </div>

                                {% endfor %}

                               
                            </tbody>
                    </table>   

                </div>

            </div>

        </div>

{% endblock %}        
