{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}

{% block custom_css %}
   <link rel="stylesheet" href="static/css/dashboard.css">
   <!---fonts-->
   <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
   
   <script src="/static/script/dashboard.js"></script>
{% endblock %}

{% block content %}

   <div class="container">
       <div class="row">
           <div class="col-md-5 ml-xl-auto text-center">
               <h1 class="head"><b>Hello {{username}}</b></h1>

               <h2 class="para"> <b>Your security our priority</b></h2><br>

               <a href="javascript:showUpdateModal();" class="btn btn-update btn-lg ">Update Key</a>
               

               <img src="static/images/dash.jpg" class="dash-pic"></img>

               <p>Why to put your password at risk. Keep updating your password and get a new key. Updating password
                   adds an extra layer of security to an already highly secure e-voting system. </p>

           </div>

           <div class="col-11 mx-auto col-md-7 col-lg-6 offset-lg-1 col-xl-5 mr-xl-auto profile">
                <h1>&lt;&gt;<b>Profile</b>&lt;&gt;</h1><br>
                <div id="profile-data">
                    <div class="field-parent">
                        <span class="field">Name: </span>
                        <span id="name" class="value">{{username}}</span>
                    </div>
                    <hr>
                    <div class="field-parent">
                        <span class="field">Voted: </span>
                        <span id="name" class="value">
                            {% if voted %}
                                <span class="fa fa-check fa-lg"></span>
                            {% else %}
                                <span class="fa fa-times fa-lg"></span>
                            {% endif %}
                        </span>
                    </div>
                    <hr>
                    <div class="field-parent">
                        <span class="field">Voter ID: </span>
                        <span id="voter-id" class="value">{{voter_id}}</span>
                    </div>
                    <hr>
                    <div class="field-parent">
                        <span class="field">Aadhar ID: </span>
                        <span id="aadhar-id" class="value">{{aadhar_id}}</span>
                    </div>
                    <hr>
                    <div class="field-parent">
                        <span class="field">Date of Birth: </span>
                        <span id="dob" class="value">{{dob}}</span>
                    </div>
                    <hr>
                    <div class="field-parent">
                        <span class="field">Contact Number: </span>
                        <span id="contact-no" class="value">{{contact_no}}</span>
                    </div>
                    <hr>
                    <div class="field-parent">
                        <span class="field">Email ID: </span>
                        <span id="email" class="value">{{email}}</span>
                    </div>
                    
                </div>
            </div>

           

       </div>
   </div>

    <div class="modal fade" id="update-modal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body text-center add-2">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <p class="update-warning">Enter your password below to update your private key. 
                        A new key will be generated and the old key will be made invalid.</p>
                    <input type="password" id="password" placeholder="Password">
                    <br>
                    <a href="javascript:updateKey();" class="btn btn-update">UPDATE</a>
                    <a href="javascript:hideUpdateModal();" class="btn btn-outline-secondary">CANCEL</a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="status-modal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <div class="spinner-border text-secondary"></div>
                    <p>Updating your private key...</p>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="success-modal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body text-center add-2">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <p class="info-text">
                        Key updated successfully! <br>
                        Your new Private Key is:
                    </p>
                    <span class="table-responsive key-parent">
                        <span class="key">kajsfksdjgsdkgjdfkgjdsgkdjsgkjdbsksdfjbdskfjb</span>
                    </span>
                    <!-- <span class="fa fa-clipboard fa-lg clipboard-icon"></span> -->
                    <p class="error"></p><br>
                    <a href="javascript:hideSuccessModal();" class="btn btn-outline-secondary">CLOSE</a>
                </div>
            </div>
        </div>
    </div>


    <p id="voter-id" class="hidden">{{voter_id}}</p>


</div>

{% endblock %}