{% extends "base.html" %}

{% block title %}E-Voting Portal{% endblock %}

{% block custom_css %}
<link rel="stylesheet" href="static/css/index.css"> 
{% endblock %}

{% block content %}

<div class="jumbotron text-center">

    <h1 class="main-heading">Welcome to E-Voting Portal</h1> <br>
    <p class="jumbo">If you dont vote you lose the right to complain</p>

    <div class="row">
        <div class="col mx-auto">

            {% if loggedin is defined and loggedin == true %}
            <a href="/dashboard" class="btn btn-1">Dashboard</a>
            <a href="/cast" class="btn btn-2">Cast Vote</a>
            {% else %}
            <a href="/register" class="btn btn-1">Register</a>
            <a href="/login" class="btn btn-2">Cast Vote</a>
            {% endif %}
        </div>
    </div>

</div>
<div class="container">
    <div class="row">

        <div class="col-md-4 text-center">
            <h3><img src="static/images/profit.svg" class="profit"><b>Increases participation</b></h3>

            <p>The Internet voting system tends to maximize user participation
                by allowing them to vote from anywhere and allowing access from different computer
                systems and from any device that has an internet connection.</p>
        </div>

        <div class="col-md-4 text-center">
            <h3><img src="static/images/lock.svg" class="profit"><b>Secure</b></h3>

            <p> In blockchain security system, in addition to
                logical and physical protection layers, mechanisms are established
                to ensure that only users accredited by an official document
                participate, so that all security guarantees are provided that
                equate the electronic voting process with a classic electoral process.</p>

        </div>

        <div class="col-md-4 text-center">
            <h3><img src="static/images/shield.svg" class="profit"><b>Reliable</b></h3>

            <p>
                Essential concepts
                to ensure privacy and the protection of the integrity of votes,
                as well as to allow the audit of the elections to be held.
                An even more secure audit than in the traditional mail vote,
                where the voter loses control over his or her vote.</p>

        </div>
    </div>
</div>

<div class="container con-2">

    <div class="page-header text-center">
        <h1 id="timeline">Follow This </h1>
    </div>

    <ul class="timeline">

        <li>
            <a href="/register">
                <div class="timeline-badge"><i class="fa fa-check-square-o fa-lg"></i></div>
                <div class="timeline-panel">

                    <div class="timeline-heading">
                        <h4 class="timeline-title"><b>Register</b></h4>
                    </div>

                    <div class="timeline-body">
                        <p>Get yourself registered for the voting process with necessary details.
                            You will get a private key that will be required to cast your vote</p>
                    </div>

                </div>
            </a>
        </li>

        <li class="timeline-inverted">
            <a href="/candidate_list">
                <div class="timeline-badge info"><i class="fa fa-list fa-lg"></i></div>

                <div class="timeline-panel">

                    <div class="timeline-heading">
                        <h4 class="timeline-title"><b>Candidate List</b></h4>
                    </div>

                    <div class="timeline-body">
                        <p>All the Candidates representing their Party along with their Candidate ID are listed here.</p>
                    </div>
                </div>
            </a>
        </li>

        <li>
            <a href="/voter_list">
                <div class="timeline-badge warning"><i class="fa fa-laptop fa-lg"></i></div>

                <div class="timeline-panel"> 

                    <div class="timeline-heading">
                        <h4 class="timeline-title"><b>Voter List</b></h4>
                    </div>

                    <div class="timeline-body">
                        <p>Check whether you got verified by the admin and what's your voting status.</p>
                    </div>
                </div>
            </a>
        </li>

        <li class="timeline-inverted">
            <a href="/cast">
                <div class="timeline-badge danger"><i class="fa fa-check-circle-o fa-lg"></i></div>

                <div class="timeline-panel">

                    <div class="timeline-heading">
                        <h4 class="timeline-title"><b>Cast Vote</b></h4>
                    </div>

                    <div class="timeline-body">
                        <p>You will be redirected to the login page. Entering your username, password, Aadhar Number
                            and the private key, you will be able to cast your vote</p>

                    </div>

                </div>
            </a>
        </li>

        <li>
            <a href="/results">
                <div class="timeline-badge info"><i class="fa fa-bar-chart fa-lg"></i></div>

                <div class="timeline-panel">

                    <div class="timeline-heading">
                        <h4 class="timeline-title"><b>Live Result</b></h4>
                    </div>

                    <div class="timeline-body">
                        <p>With the help of Pie Chart, you will get the live voting statistics.</p>
                    </div>

                </div>
            </a>
        </li>


        <li class="timeline-inverted">
            
            <div class="timeline-badge success"><i class="fa fa-thumbs-o-up fa-lg"></i></div>

            <div class="timeline-panel">

                <div class="timeline-heading">
                    <h4 class="timeline-title"><b>That's it!</b></h4>
                </div>

                <div class="timeline-body">
                    <p>You have casted your valuable vote. If interested you can check
                        the live voting statistics in the Live Result page.</p>
                </div>

            </div>

        </li>

    </ul>

</div>

<!--------------------------------Footer------------------------------------------------>

  <!-- Site footer -->
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>About</h6>
          <p class="text-justify">A Website where you can vote no matter wherever you are.
               Higly secured by blockchain. Live analysis of voting statistics is also available.
               No alteration in votes making it more reliable system.</p>
               
        </div>

        <div class="col-md-3"></div>

        <div class="col-xs-6 col-md-3">
          <h6>Quick Links</h6>
          <ul class="footer-links">
            <li><a href="/results">Live Result</a></li>
            <li><a href="/vote_list">Voter List</a></li>
            <li><a href="/candidate_list">Candidate List</a></li>
            <li><a href="/cast">Cast Vote</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6">
          <p class="copyright-text">Copyright &copy; Designed and Developed by Anshit and Shwetal</p>
        </div>
        
        <div class="col-6 col-md-3 text-center">
            <span class="dev-name">Anshit</span>
            <ul class="social-icons">
                <li><a class="website" target="_blank" href="https://anshit01.github.io/"><i class="fa fa-globe fa-lg"></i></a></li>
                <li><a class="linkedin" target="_blank" href="https://www.linkedin.com/in/anshit01"><i class="fa fa-linkedin fa-lg"></i></a></li>
                <li><a class="linkedin" target="_blank" href="https://github.com/Anshit01"><i class="fa fa-github fa-lg"></i></a></li>
            </ul>
        </div>
        <div class="col-6 col-md-3 text-center">
            <span class="dev-name">Shwetal</span>
            <ul class="social-icons">
                <li><a class="website" target="_blank" href="https://shwetalsoni.github.io/"><i class="fa fa-globe fa-lg"></i></a></li>
                <li><a class="linkedin" target="_blank" href="https://www.linkedin.com/in/shwetal-soni-329753199"><i class="fa fa-linkedin fa-lg"></i></a></li>
                <li><a class="linkedin" target="_blank" href="https://github.com/shwetalsoni"><i class="fa fa-github fa-lg"></i></a></li>
            </ul>
        </div>
      </div>
    </div>
</footer>

{% endblock %}