{% extends "base.html" %}

{% block title %}E-Voting Portal{% endblock %}

{% block custom_css %}
<link rel="stylesheet" href="static/css/index.css"> 
{% endblock %}

{% block content %}

<div class="jumbotron text-center">

    <h1>Welcome to E-Voting Portal</h1> <br>
    <h2>If you dont vote you lose the right to complain</h2><br>

    <div class="row">
        <a href="/register" class="btn btn-1">Register</a>
        <a href="/vote" class="btn btn-2">Cast Vote</a>
    </div>

</div>
<div class="container">
    <div class="row">

        <div class="col-md-4 text-center">
            <h3><img src="static/images/profit.svg" class="profit"></img><b>Increases participation</b></h3>

            <p>The Internet voting system tends to maximize user participation
                by allowing them to vote from anywhere and allowing access from different computer
                systems and from any device that has an internet connection.</p>
        </div>

        <div class="col-md-4 text-center">
            <h3><img src="static/images/lock.svg" class="profit"></img><b>Secure</b></h3>

            <p> In blockchain security system, in addition to
                logical and physical protection layers, mechanisms are established
                to ensure that only users accredited by an official document
                participate, so that all security guarantees are provided that
                equate the electronic voting process with a classic electoral process.</p>

        </div>

        <div class="col-md-4 text-center">
            <h3><img src="static/images/shield.svg" class="profit"></img><b>Reliable</b></h3>

            <p>
                Essential concepts
                to ensure privacy and the protection of the integrity of votes,
                as well as to allow the audit of the elections to be held.
                An even more secure audit than in the traditional mail vote,
                where the voter loses control over his or her vote.</p>

        </div>
    </div>
</div>

<div class="container con-2">

    <div class="page-header text-center">
        <h1 id="timeline">Just Do It</h1>
    </div>

    <ul class="timeline">

        <li>

            <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
            <div class="timeline-panel">

                <div class="timeline-heading">
                    <h4 class="timeline-title"><b>Register</b></h4>
                </div>

                <div class="timeline-body">
                    <p>Get yourself registered for the voting process with necessary details.
                        Get a private key that will help you to cast your vote</p>
                </div>

            </div>
        </li>

        <li class="timeline-inverted">

            <div class="timeline-badge warning"><i class="glyphicon glyphicon-credit-card"></i></div>

            <div class="timeline-panel">

                <div class="timeline-heading">
                    <h4 class="timeline-title"><b>Candidate List</b></h4>
                </div>

                <div class="timeline-body">
                    <p>All those Candidates representing their Party along with their Candidate ID are listed.</p>
                </div>

            </div>
        </li>

        <li>

            <div class="timeline-badge danger"><i class="glyphicon glyphicon-credit-card"></i></div>

            <div class="timeline-panel">

                <div class="timeline-heading">
                    <h4 class="timeline-title"><b>Live Result</b></h4>
                </div>

                <div class="timeline-body">
                    <p>With the help of Pie Chart, you will get the live voting statistics.</p>
                </div>

            </div>

        </li>

        <li class="timeline-inverted">

            <div class="timeline-panel">

                <div class="timeline-heading">
                    <h4 class="timeline-title"><b>Admin Panel</b></h4>
                </div>

                <div class="timeline-body">
                    <p>Check whether you got verified by the admin and what's your voting status.</p>
                </div>

            </div>

        </li>

        <li>
            <div class="timeline-badge info"><i class="glyphicon glyphicon-floppy-disk"></i></div>

            <div class="timeline-panel">

                <div class="timeline-heading">
                    <h4 class="timeline-title"><b>Cast Vote</b></h4>
                </div>

                <div class="timeline-body">
                    <p>You will be redirected to the login page. Entering your username, password, Aadhar Number
                        and the private key, you will be able to cast your vote</p>

                </div>

            </div>

        </li>


        <li class="timeline-inverted">

            <div class="timeline-badge success"><i class="glyphicon glyphicon-thumbs-up"></i></div>

            <div class="timeline-panel">

                <div class="timeline-heading">
                    <h4 class="timeline-title"><b>That's it</b></h4>
                </div>

                <div class="timeline-body">
                    <p>You have casted your valuable vote. If interested you can check
                        the live voting statistics in the Live Result tab</p>
                </div>

            </div>

        </li>

    </ul>

</div>
{% endblock %}