{% extends "base.html" %}
{% block title %}Register{% endblock %}

{% block custom_css %}
  <link rel="stylesheet" href="static/css/register.css">
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
  <script src="/static/script/register.js"></script>
{% endblock %}

{% block content %}

       <div class="container">
            <div class="row">
                <div class="col-10 mx-auto col-sm-9 col-md-7 col-lg-5 div-form">
                        <h2>Create Account</h2><br>
                        <form method="POST" onsubmit="return true">

                            <div class="form-group">
                                <label for="name">Full Name</label>
                                <input type="text" class="form-control" name="name" id="name" placeholder="">
                            </div>

                            <div class="form-group">
                                <label for="dob">Date of Birth</label>
                                <input type="date" class="form-control" name="dob" id="dob" min="1900-01-01" max="2003-01-01">
                            </div>

                            <div class="form-group">
                                <label for="aadhar-id">Aadhar Card Number (12 digits)</label>
                                <input type="number" class="form-control" name="aadhar_id" id="aadhar-id" placeholder="0000111122223333">
                            </div>

                            <div class="form-group">
                                <label for="email">Email address</label>
                                <input type="text" class="form-control" name="email" id="email" placeholder="asdf@mail.com">
                            </div>

                            <div class="form-group">
                                <label for="contact-no">Contact Number (10 digits)</label>
                                <input type="number" class="form-control" name="contact_no" id="contact-no" placeholder="">
                            </div>

                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" name="password" id="password" placeholder="Pass@123">
                            </div>

                            <div class="form-group">
                                <label for="password-confirm">Confirm Password</label>
                                <input type="password" class="form-control" id="password-confirm" placeholder="Pass@123">
                            </div>
                            
                            <p id="warning">
                                {% if error is defined %}
                                {{error}}
                                {% endif %}
                            </p>
                            
                            <button type="submit" class="btn  btn-primary">Sign Up</button>

                        </form><br>

                        
                        <p id="cast-vote-link">
                            <span >Already have an account? </span>
                            <a href="/login" class="extra"><b>Login</b></a>
                        </p>
                </div>

            </div>

        </div>

{% endblock %}