<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8">
      <title>E-Voting</title>
<link rel="stylesheet"  href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">">
      <link rel="stylesheet" href="asset/stylesheet/main.css">
      <link href="https://fonts.googleapis.com/css?family=Alegreya&display=swap" rel="stylesheet">
          
      
</head>
<body>
  <nav class="navbar navbar-inverse">
      <div class="navbar-header">      
      <a class="navbar-brand" href="/">E-Voting</a>
    </div>
    <ul class="nav navbar-nav">
      <li>
        <a href="/register">Register</a>
      </li>
      <li>
          <a href="/vote">Cast Vote</a>
      </li>
      <li>
          <a href="/results">Live Results</a>
      </li>
      <li>
          <a href="/voter_list">Admin</a>
      </li>
      <li>
        <a href="/candidate_list">Candidate List</a>
    </li>

    </ul>
  </nav>
      <br><br><br><br>

  <h1><center> Your Private Key Is Given Below </center></h1>
  <br><br><br><br><br><br><br>
  <h2> <b> <center> ba9e09661fb0744f187b0a4707fc075d </center> </b> </h2> <br><br><br><br><br><br><br><br>
  <h2> <center>Please Try To Keep It Safe</center></h2>

</body>
</html>







