{% extends "base.html" %}
{% block title %}Register{% endblock %}

{% block custom_css %}
  <link rel="stylesheet" href="static/css/register.css">
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}

       <div class="container">

               <br><br>

               <h1>Create Account</h1><br>

                <form>

                    <div class="form-group">
                        <label for="exampleInputUsername">Username</label>
                        <input type="username" class="form-control" id="exampleInputUsername" placeholder="Username">
                    </div>

                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                        
                    </div>

                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>

                    <div class="form-group">
                        <label for="exampleInputnumber">Aadhar Card Number</label>
                        <input type="number" class="form-control" id="exampleInputnumber" placeholder="Enter 12 digit number">
                    </div>

                     <div class="form-group">
                        <label for="exampleInputnumber">Contact Number</label>
                        <input type="number" class="form-control" id="exampleInputnumber" placeholder="Enter phone number">
                    </div>

                    <div class="form-group">
                        <label for="exampleInputtext">Constituency</label>
                        <input type="textr" class="form-control" id="exampleInputtext" placeholder="Enter Constituency">
                    </div>

                    <div class="form-group">
                        <label for="inputState">State</label>
                        <select id="inputState" class="form-control">
                            <option selected>choose your state</option>
                            <option>Rajasthan</option>
                            <option>Bihar</option>
                            <option>Uttar Pradesh</option>
                        </select>
                    </div>    
                    

                    <button type="submit" class="btn  btn-primary">Sign Up</button>

                </form>

            </div>

{% endblock %}