{% extends 'base.html' %}
{% block title %}Voter's List{% endblock %}

{% block custom_css %}
<link rel="stylesheet" href="static/css/voters.css">

<!---fonts-->
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">

{% endblock %}

{% block content %}

<div class="container">

    <div class="row">

        <div class="col-10 mx-auto col-sm-10 tab">

            <h1>Voter List</h1><br>

            <table class="table">

                <thead class="thread-dec">

                    <tr>

                        <th scope="col">Voter ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Voted</th>

                    </tr>

                </thead>

                <tbody>

                    {% for i in range(voterList|length) %}

                    <tr class="row-down">

                        <td>{{ voterList[i]['voter_id'] }}</td>
                        <td>{{ voterList[i]['name'] }}</td>
                        <td>
                        {% if voterList[i]['voted'] == 0 %}
                            <span class="fa fa-times fa-lg"></span>
                        {% else %}
                            <span class="fa fa-check fa-lg"></span>
                        {% endif %}
                        </td>
                    </tr>

                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
</div>



{% endblock %}