{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block custom_css %}
<link rel="stylesheet" href="static/css/login.css">
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="container ">
            
            <div class="row ">
               
                    <div class="col-10 mx-auto col-sm-8 col-md-6 col-lg-5 div-form">
                        
                         <h1>Login</h1><br>

                        <form action="/vote/cast" method="post">

                            <div class="form-group">
                                <input type="text" class="form-control" id="exampleInputUsername" placeholder="Username">
                            </div>


                            <div class="form-group">
                                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                            </div>

                            <div class="form-group">
                                <input type="text" class="form-control" id="exampleInputnumber" placeholder="Enter Aadhar number">
                            </div>

                            <div class="form-group">
                                <input type="text" class="form-control" id="exampleInputtext" placeholder="Enter the private key">
                            </div>

                            <button type="submit" class="btn  btn-primary">Submit</button>

                        </form><br>
                        
                        <span>Doesn't have an account? </span>
                        <a href="/register" class="extra"><b>Register Here!</b></a>
                        
                    </div>

            </div>

</div>

{% endblock %}

