body {
    font: 400 15px/1.8 Lato, sans-serif;
    margin-top: 0px;
  }

  .navbar {
    font-family: Montserrat, sans-serif;
    margin-bottom: 0;
    background-color: hsl(204 100% 5%);
    border: 0;
    font-size: 18px !important;
    letter-spacing: 3px;
    opacity: 0.9;
  }

  .navbar li a, .navbar .navbar-brand { 
    color: #d5d5d5 !important;
  }

  .navbar-brand {
      font-size: 25px;
      margin-left: 10px;
  }

  .navbar-toggler:focus, .navbar-toggler:active:focus, .navbar-toggler.active:focus{
    outline:none;
    box-shadow:none;
}

  .navbar-nav li a:hover {
    color: #fff !important;
  }

  .navbar-nav > li {
    white-space: nowrap;
  }

  .dash {
    margin-left: 4px;
  }

  .navbar-toggler-icon:hover {

     text-decoration: none;
     outline: none;

  }

  .navbar-toggler {
    outline: none;
    text-decoration: none;
  }

  .fav {
    width: 20px;
  }

  
