body {
    font: 400 15px/1.8 Lato, sans-serif;
    margin-top: 70px;
  }

  .navbar {
    font-family: Montserrat, sans-serif;
    margin-bottom: 0;
    background-color: #000000;
    border: 0;
    font-size: 18px !important;
    letter-spacing: 3px;
    opacity: 0.9;
  }

  .navbar li a, .navbar .navbar-brand { 
    color: #d5d5d5 !important;
  }

  .navbar-brand {
      font-size: 25px;
  }

  .navbar-toggler {
    outline: none;
  }

  .navbar-nav li a:hover {
    color: #fff !important;
  }

  .dash {
    margin-left: 4px;
  }
