.logo {
    width:20%;
}

.btn-cast {
    background-color: #8e44ad;
    border-radius: 25px;
    color: #FFFFFF;
    font-size: 20px;
}

.candidate-div {
    background-color: #f8ebff;
    margin-top: 3%;
    padding-top: 4%;
    padding-bottom: 4%;
    border-radius: 20px;
    margin-right: 0%;
    margin-bottom: 3%;
}

.name {
    font-size: 25px;
}

.party {
    font-size: 20px;
}

.btn-cast:hover {
    background-color: #a90aff;
    color: #FFFFFF;
}

.confirm-img, .key-img {
    width: 200px;
}

.img {
    width: 100px;
}

#key {
    width: 300px;
    margin: 10px;
}

.hidden {
    display: none;
}