.logo {
    width:20%;
}

.body {
    background-color: #22577a;
}

.btn-cast {
    background-color: #57cc99;
    border-radius: 25px;
    color: #FFFFFF;
    font-size: 20px;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%, 0);
}

.candidate-div {
    height: 330px;
    position: relative;
    background-color: #edfdee;
    margin-top: 3%;
    padding-top: 4%;
    padding-bottom: 4%;
    border-radius: 20px;
    margin-right: 0%;
    margin-bottom: 3%;
}

.name {
    font-size: 25px;
}

.party {
    font-size: 20px;
}

.candidate-id {
    display: none;
}

.btn-cast:hover {
    background-color: #57cc99;
    color: #FFFFFF;
}

.confirm-img, .key-img {
    width: 200px;
}

.img {
    width: 100px;
}

#key {
    width: 300px;
    margin: 10px;
}

.hidden {
    display: none;
}

.modal-status {
    height: 200px;
    width: 200px;
    margin: 100px 0;
}

.btn-primary {
    background-color: #22577a;
    border-color: #22577a;
}

.btn-primary:hover {
    background-color: #22577a;
    border-color: #22577a;
}

