.head {
    font-size: 55px;
    color: #22577a;
    margin-top: 7%;
    margin-bottom: 5%;
    font-weight: 800;
    text-align: center;
}

.body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #ffebec;
}

h2 {
    font-size: 28px;
}

.dash-pic {
    width:100%;
}

h1 {
    text-align:center;
    margin-top: 7%;
    color: #450920;
}

.btn-primary {
    background-color: #27ae60;
    border-color: #27ae60;
}

.btn-primary:hover {
    background-color: #27ae60;
    border-color: #27ae60;
}

.shift {
    margin-left: 10px;
}

.profile {
    background-color: hsl(204 100% 5%);
    margin-top: 40px;
    margin-bottom: 50px;
    border-radius: 20px;
}

.profile h1 {
    background: linear-gradient(
        to right, 
        hsl(98 100% 62%), 
        hsl(204 100% 59%)
      );
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      text-align: center;
}

.key {
    margin-left: 2%;
    color: #450920;
    font-size: 20px;
}

.fa-key {
    color: #000000;

}

.fa-key:hover {
    text-decoration: none;
}

.key:hover {
    text-decoration: none;
}

.btn-secondary {
    border-color: #000000;
    background-color: transparent;
}

.col-form-label {
    color: #fff;
}

.btn-update{
    background-color: #27ae60;
    border-color: #27ae60;
    color: #fff;
}

.btn-update:hover{
    background-color: #27aea3;
    border-color: #27ae60;
    color: #fff;
}

.update-warning {
    margin: 30px;
}

#password {
    margin-bottom: 30px;
}

.spinner-border {
    height: 100px;
    width: 100px;
    margin: 30px;
}

.hidden {
    display: none;
}

.key {
    font-size: 150%;

}

.error {
    color: red;
}

#profile-data {
    margin: 30px 30px 50px 30px;
}

.field {
    font-size: 130%;
    color: #ddd;
}

.value {
    float: right;
    font-size: 150%;
    color: #aaa;
}

.field-parent {
    overflow: hidden;
}

hr {
    background-color: #777;
}

/* .key-parent, .clipboard-icon {
    float: left;
} */