.head {
    font-size: 55px;
    color: #da627d;
    margin-top: 7%;
    margin-bottom: 5%;
    font-weight: 800;
    text-align: center;
}

.body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #ffebec;
}

h2 {
    font-size: 28px;
}

.dash-pic {
    width:100%;
}

h1 {
    text-align:center;
    margin-top: 7%;
    color: #450920;
}

.btn-primary {
    background-color: #d0395a;
    border-color: #d0395a;
}

.btn-primary:hover {
    background-color: #d0395a;
    border-color: #d0395a;
}

.shift {
    margin-left: 10px;
}

.fill-form {
    background-color: #fdf5ec;
    margin-top: 3%;
    border-radius: 20px;
}

.key {
    margin-left: 2%;
    color: #450920;
    font-size: 20px;
}

.fa-key {
    color: #000000;

}

.fa-key:hover {
    text-decoration: none;
}

.key:hover {
    text-decoration: none;
}

.btn-secondary {
    border-color: #000000;
    background-color: transparent;
}


