
  /**.jumbotron {
    background-color: #000000;
    color: #fff;
    padding: 100px 25px;
    font-family: Montserrat, sans-serif;
    border-radius: 0;
    margin-bottom: 80px;
  }**/

  .jumbotron {
    background: hsl(204 100% 5%);
    place-content: center;
    font-family: system-ui;
    font-size: min(200%, 5vmin);
    border-radius: 0;
  
    padding: 100px 25px;
  }


  .btn {
      border-color: #80ed99;
      background-color: transparent;
      font-size: 25px;
      color: #80ed99;
      margin: 30px 2px;
  }

  .btn:hover {
      background-color: #80ed99;
      color: #fff;
  }

  /* .jumbo { */
    /* font-size: 20px; */
  /* } */

  .jumbo {
    background: linear-gradient(
      to right, 
      hsl(98 100% 62%), 
      hsl(204 100% 59%)
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
  }

  .main-heading {
    background: linear-gradient(
      to right, 
      hsl(98 100% 62%), 
      hsl(204 100% 59%)
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
  }

/************************BODY**************************************************************/

  img.profit {
      height: 24px;
      margin-bottom: 8px;
      margin-right: 5px;
  }

 .con-1 {
     background-color: #f5f5f5;
 }

 /*****************************************TIMELINE*****************************************/

 
 .con-2 {
   margin-top: 5%;
 }
 
 #timeline {
   font-size: 45px;
   
 }
 
 
 .timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
    margin-bottom: 0;
  }
  
  .timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #eeeeee;
    left: 50%;
    margin-left: -1.5px;
  }
  
  .timeline > li {
    margin-bottom: 20px;
    position: relative;
  }
  
  .timeline > li:before,
  .timeline > li:after {
    content: " ";
    display: table;
  }
  
  .timeline > li:after {
    clear: both;
  }
  
  .timeline > li:before,
  .timeline > li:after {
    content: " ";
    display: table;
  }
  
  .timeline > li:after {
    clear: both;
  }
  
  .timeline-panel {
    width: 46%;
    color: black;
    float: left;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    padding: 20px;
    position: relative;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    transition: box-shadow 0.3s;
  }

  .timeline-panel:hover {
    -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
  }
  
  .timeline-panel:before {
    position: absolute;
    top: 26px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #ccc;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    content: " ";
  }
  
  .timeline-panel:after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
  }
  
  .timeline-badge {
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -25px;
    background-color: #999999;
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    /* transition: height 0.5s, width 0.5s, transform 0.5s, padding 0.5s; */
    transition: transform 0.3s;
  }

  .timeline-badge:hover {
    /* width: 70px;
    height: 70px;
    transform: translate(-10px, -10px);
    padding-top: 10px; */
    transform: scale(1.2);
  }

  li.timeline-inverted .timeline-panel {
    float: right;
  }
  
  li.timeline-inverted .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
  }
  
  li.timeline-inverted .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
  }
  
  .timeline-badge.primary {
    background-color: #2e6da4 !important;
  }
  
  .timeline-badge.success {
    background-color: #3f903f !important;
  }
  
  .timeline-badge.warning {
    background-color: #f0ad4e !important;
  }
  
  .timeline-badge.danger {
    background-color: #d9534f !important;
  }
  
  .timeline-badge.info {
    background-color: #5bc0de !important;
  }
  
  .timeline-title {
    margin-top: 0;
    color: inherit;
  }
  
  .timeline-body > p,
  .timeline-body > ul {
    margin-bottom: 0;
  }
  
  .timeline-body > p + p {
    margin-top: 5px;
  }

  /******************************* Footer********************************************/

  .site-footer
{
  background-color:hsl(204 100% 5%);
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#fff;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#80ed99;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}


.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}

.dev-name {
  display: inline-block;
  width: 60px;
}

.social-icons
{
  padding-left:0;
  /* margin-bottom:0; */
  list-style:none;
  display: inline;
  white-space: nowrap;;
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px;
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}

.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.github:hover
{
  background-color:#0ead69
}
  