.body{
    font-family: 'Ubuntu', sans-serif;
}

.div-form{
    margin-top: 8%;
    background-color: #f0f3fa; 
    padding-top: 4%;
    padding-bottom: 4%;
    text-align: center;
    border-radius: 20px;
}

.btn-primary{
    background-color: #1e305c;
    border-radius: 20px;
    border-color: #1e305c;
    font-size: 20px;   
    width: 70%;
}

.btn-primary:hover{
    background-color: #1e305c;
    border-color: #1e305c;
}

input[type=text],
input[type=password],
input[type=number]
{

    border-radius: 20px;
    text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.form-group {
    text-align: center;
}

.extra {
    margin-left: 5px;
    color: #0e7395;
    font-size: 15px;
    text-decoration: none;
}

.extra:hover {
    text-decoration: none;
}

h1 {
    font-size: 350%;
}

#warning {
    color: red;
    transition: text-shadow 0.5s;
}
