/* .container{
    width:25%;
    margin-top: 2%;
    background-color: #f1ffeb;
    padding-bottom: 5%;
    padding-left: 2%;
    padding-top: 0;
    padding-right: 2%;
} */

.div-form {
    background-color: #f0f3fa;
    margin: 50px 0;
    padding: 30px 20px;
    
}

.body{
    font-family: 'Ubuntu', sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.btn-primary{
    background-color: #fca311;
    width: 70%;
    border-radius: 20px;
    border-color: #fca311;
    font-size: 20px;
    margin-left: 15%;
    margin-right: 15%;
    color: #fff;
    
}

.btn-primary:hover{
    background-color: #fca311;
    border-color: #fca311;

}

h2{
    text-align: center;
    font-size: 250%;
}

#cast-vote-link {
    text-align: center;
}

.extra {
    margin-left: 8px;
    color: #0e7395;
    font-size: 15px;
    text-decoration: none;
}

.extra:hover {
    text-decoration: none;
}

#warning {
    text-align: center;
    color: red;
    transition: text-shadow 0.5s;
}
