h1 {
    margin: 20px 10px;
    text-align: center;
}

.tab {
    margin-top: 5%;
}

.whole {
    margin-top: 7%;
    
}

.advanced {
    background-color: #edfdee;
}

.mains {
    background-color: #80ed99;
}

#pie-chart {
    text-align: center;
}