h1 {
    text-align: center;
}

.tab {
    margin-top: 50px;
}

.whole {
    margin-top: 30px;
    margin-bottom: 40px;
    display: none;
}

.advanced {
    background-color: #edfdee;
}

.mains {
    background-color: #80ed99;
}

#pie-chart {
    text-align: center;
    margin-top: 50px;
}

/* Load Screen styles */
/* body {
    margin: 0px !important;
    padding: 0px !important;
    position: static;
} */

.loading-caption {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    color: #ffffff;
    font-size: 125%;
    text-align: center;
}

.load-screen {
    height: 100vh;
    width: 100%;
    background: hsl(204 100% 5%);
    text-align: center;
    position: fixed;
}

.dots-container{
    padding: 0;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
}

.dots{
    animation: bounce 1.5s infinite linear;
    background: hsl(204 100% 59%);
    border-radius: 50%;
    display: inline-block;
    height: 20px;
    text-align: center;
    width: 20px;
}
  
.dots:nth-child(1){
    animation-delay: .2s;
}
.dots:nth-child(2){
    animation-delay: .4s;
}
.dots:nth-child(3){
    animation-delay: .6s;
}
.dots:nth-child(4){
  animation-delay: .8s;
}
.dots:nth-child(5){
    animation-delay: 1s;
}
@keyframes bounce {
    0% {
            transform: translateY(0);
    }
    15% {
        transform: translateY(-15px);
    }
    30% {
        transform: translateY(0);
    }
}
